$coral: #6768ac;
$break: 768px;

.header {
  width: 100%;

  .cover {
    background: url("./img/cover-photo.jpeg") no-repeat center center;
    background-size: cover;
    position: relative;
    height: 20vw;
    @media all and (max-width: $break) {
      height: 50vw;
    }

    .cover-overlay {
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(103, 104, 172, 1), rgba(103, 104, 172, 0.2));
      border-bottom: $coral solid 1px;
    }

    .avatar {
      position: absolute;
      bottom: calc(8vw - 200px);
      left: 15vw;
      z-index: 1;
      @media all and (max-width: $break) {
        bottom: -100px;
        left: calc(50vw - 100px);
      }
    }

    .name {
      color: white;
      position: absolute;
      font-size: 60px;
      font-family: 'Dancing Script', cursive;
      line-height: 1;
      bottom: calc(4vw - 30px);
      left: calc(25vw + 200px);
      z-index: 1;
      @media all and (max-width: $break) {
        font-size: 40px;
        width: 100%;
        bottom: calc(-5vw - 150px);
        left: 0;
        text-align: center;
      }
    }

    .career {
      color: $coral;
      position: absolute;
      font-size: 30px;
      line-height: 1;
      bottom: calc(4vw - 115px);
      left: calc(25vw + 230px);
      z-index: 1;
      @media all and (max-width: $break) {
        font-size: 20px;
        color: white;
        width: 100%;
        bottom: calc(-5vw - 180px);
        left: 0;
        text-align: center;
      }
    }
  }
}